<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.euronba">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EuroNBA">
        <activity
            android:name=".activities.StandingsActivity"
            android:label="@string/title_activity_standings"
            android:theme="@style/Theme.EuroNBA.NoActionBar"></activity>
        <activity android:name=".activities.TeamListActivity" />
        <activity android:name=".activities.TeamActivity" />
        <activity android:name=".activities.PlayerListActivity" />
        <activity android:name=".activities.PlayerActivity" />
        <activity android:name=".activities.GameActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>